$desktop: 1910px;
$tablet: 1270px;
$mobile: 750px;

// color
$text_color_dark: #444343;
$text_color_black: #282828;
$text_color_light: #ffffff;
$buttom-arrow_color_white: #ffffff;
$buttom-arrow_color_red: #f36c67;
$bg_color_gray: #f3f3f3;
$separating-line_color_gray: #CED3D6;
